@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte-principal: "Montserrat", sans-serif;
}

html {
    font-size: 16px !important;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF !important;
    color: #000000 !important;
    font-family: var(--fonte-principal) !important;
    height: 100vh !important;
}

/* Configuração do scroll */

::-webkit-scrollbar {
    width: 6px;
    background: #00000086;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #000000;
}

/* Cores do bg e texto modificadas */

.bg-dark {
    background-color: #000000 !important;
}

.text-primary {
    color: #ca9d40 !important;
}

/* Navbar */

.navbar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px !important;
}

.navbar-nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
}

.nav-link::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 3px;
    background-color: #ca9d40;
    bottom: 2px;
    left: 0;
    transition: width .4s ease;
}

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
}

/* main */

.container-principal {
    display: flex;
    flex-direction: column;
    flex: 1 !important;
    margin-top: 7rem !important;
}

.btn {
    transition: .4s !important;
}

.btn:hover {
    background-color: #ca9d40 !important;
    color: #000000 !important;
}

/* Avaliação google */

.container-avaliacao-google {
    background-image: url('../img/parallax.png'); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24rem;
    color: #FFFFFF;
}

.container-avaliacao-google-item-icon {
    font-size: 2rem;
}

.container-avaliacao-google-item-titulo {
    font-size: 3rem;
    font-weight: 600;
}

/* Carrossel assistência tecnica */

.container-assistencia-tecnica {
    margin-top: -6rem !important;
}

.container-card-assistencia {
    border: none !important;
    background-color: transparent !important;
}

.card-assistencia {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: .4s;
}

.carrosel-assistencia-tecnica-icon {
    font-size: 3rem;
}

/* Carrosel das marcas */

.carrosel-marcas-track {
    display: flex;
    width: calc(100% * 2);
    animation: slide 50s linear infinite;
}

.carrosel-marcas {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carrosel-marcas .carrosel-marcas-img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
}

/* Carrossel de comentários */

/* .container-com-carrossel .carousel-item {
    display: flex;
    justify-content: center;
} */

.comentario-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 22rem;
    transition: box-shadow 0.3s ease-in-out;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.carousel-control-prev {
    background-color: #000000;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1000 !important;
}

.carousel-control-next {
    background-color: #000000;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000 !important;
}

/* lista de rede sociais */

.container-lista {
    display: flex;
    padding: 0 !important;
    gap: 2rem;
}

.container-lista .lista-item {
    list-style: none;
}

.container-lista .lista-item .lista-item-link {
    color: #000000;
    font-size: 2.5rem;
    transition: .4s;
}

.container-lista .lista-item .lista-item-link:hover {
    color: #ca9d40;
}

/* Imagens redes sociais */

.container-img-redes-sociais {
    width: 23%;
}

.container-img-redes-sociais img {
    width: 100%;
    transition: .4s;
}

.container-img-redes-sociais img:hover {
    transform: scale(1.1);
}

.container-img-redes-sociais a {
    opacity: 0.8;
}

/* Btn whatsapp */

.btn-whats {
    position: fixed;
    bottom: 20px;
    right: 4px;
    /* transform: translateY(-50%); */
    z-index: 200000;
}

.btn-whats a {
    text-decoration: none;
}

.btn-whats a i {
    background-color: #2FD56C;
    color: #FFFFFF;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    cursor: pointer;
}

.btn-whats a i:hover {
    opacity: 0.5;
}

/* Rodape */

.container-lista-rodape {
    display: flex;
    gap: 4rem;
}

.lista-rodape-contato,
.lista-rodape-horario,
.lista-rodape-pagamento {
    margin: 0 !important;
    padding: 0 !important;
}

.lista-rodape-pagamento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.lista-rodape-pagamento .lista-rodape-pagamento-item-icon {
    list-style: none;
    margin-left: 0.3rem;
}

.lista-rodape-pagamento-item-icon img {
    width: 3rem !important;
    height: auto !important;
}

.lista-rodape-contato .lista-rodape-contato-item,
.lista-rodape-horario .lista-rodape-horario-item{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.8rem;
}

.lista-rodape-contato .lista-rodape-contato-item i,
.lista-rodape-horario .lista-rodape-horario-item i ,
.lista-rodape-pagamento .lista-rodape-pagamento-item i {
    width: 1.5rem;
    text-align: center;
}

.rodar-45deg {
    transform: rotate(45deg);
}

.rodar-90deg {
    transform: rotate(90deg);
}

.rodape-direitos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #FFFFFF;
}

.rodape-direitos-titulo {
    margin: 0 !important;
    font-size: 0.8rem;
}

/* Animações */

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Ajuste do layout responsivo */

@media screen and (max-width: 576px) {
    .navbar-nav {
        flex-direction: column !important;
    }

    .dropdown {
        position: relative !important;
    }

    .dropdown-menu {
        position: absolute !important;
    }

    .container-assistencia-tecnica {
        margin-top: -4rem !important;
    }

    .container-assistencia-tecnica .row {
        flex-direction: column !important;
    }

    .container-avaliacao-google {
        background-image: url('../img/parallax-mobile.png'); 
        background-attachment: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-avaliacao-google-item {
        margin: 0 !important;
    }

    .container-img-redes-sociais {
        width: 46%;
    }

    .container-lista-rodape {
        padding: 0 0.5rem;
    }

    .container-lista-rodape {
        flex-direction: column;
    }

    .lista-rodape-contato,
    .lista-rodape-horario {
        margin: 0 !important;
        padding: 0 ;
    }

    .lista-rodape-pagamento {
        margin-top: 0.3rem !important;
    }
}

@media screen and (max-width: 768px) {
    a.nav-link,
    button.nav-link {
        font-size: 0.7rem !important;
    }

    .container-assistencia-tecnica {
        margin-top: -4rem !important;
    }

    .card-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .comentario-card {
        flex: 1 0 100%;
        height: auto;
    }

    .container-img-redes-sociais {
        width: 46%;
    }

    .container-lista-rodape {
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem !important;
    }

    .lista-rodape-contato h5,
    .lista-rodape-horario h5,
    .container-lista-rodape-pagamento h5 {
        margin: 0 !important;
        padding: 0 ;
    }

    .lista-rodape-pagamento {
        margin-top: 0.3rem !important;
    }
}

