/* Categoria */

.categoria-lista {
    gap: 0.8rem !important;
    overflow-x: auto !important;
    padding: 0 !important;
    margin: 0 !important;
}

.categoria-lista::-webkit-scrollbar {
    height: 2px;
    background-color: transparent;
}

.categoria-lista::-webkit-scrollbar-thumb {
    height: 2px;
    opacity: 0.8;
}

.categoria-lista .categoria-lista-item {
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn:hover,
.ativo {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}

/* Produtos */

.card-body .btn:hover {
    background-color: #ca9d40 !important;
    color: #FFFFFF !important;
}

.img-fluid {
    min-height: 100%;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.5rem;
    margin: 0 !important;
}
